:root {
    --body-1-font-family: "OpenSans-Regular", Helvetica;
    --body-1-font-size: 16px;
    --body-1-font-style: normal;
    --body-1-font-weight: 400;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: normal;
    --body-2-font-family: "OpenSans-Regular", Helvetica;
    --body-2-font-size: 14px;
    --body-2-font-style: normal;
    --body-2-font-weight: 400;
    --body-2-letter-spacing: 0.15px;
    --body-2-line-height: normal;
    --h-3-font-family: "OpenSans-SemiBold", Helvetica;
    --h-3-font-size: 23px;
    --h-3-font-style: normal;
    --h-3-font-weight: 600;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: normal;
    --primarymain: rgba(63, 61, 107, 1);
    --surface-100: rgba(245, 245, 245, 1);
    --surface-300: rgba(224, 224, 224, 1);
    --surfacewhite: rgba(255, 255, 255, 1);
    --textprimary: rgba(0, 0, 0, 0.87);
}

* {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--surfacewhite);
    margin: 0;
    font-family: var(--body-1-font-family);
}

